.auto-model-list-img {
  max-width: 150px;
  border: 1px solid #565656;
}

.background-color {
  background-color: #3e92cc
}

.cancel-button {
  background-color:#bf4342;
  color: white;
}

.finish-button {
  background-color: #4c956c;
  color: white

}

.create-button {
  background-color: #1b9aaa;
  color: white
}

body {
  background-color: #d8e2dc
}

.card-color {
  background-color: white;
  border-radius: 20px;
}

.table-color {
  background-color: #f2f2f2;
  border-radius: 15px;
}

.spacing {
  margin-bottom: 20px;
}
